.login-form-container {
    max-width: 400px;
    margin: auto;
    padding-top: 50px;
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .logo img {
    display: block;
    margin: 0 auto 20px auto;
    width: 120px;
  }

  .login-heading {
    text-align: center;
    color: #0077b5; /* Barclays blue */
    margin-bottom: 20px;
  }

  .login-form {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .login-form-button {
    width: 100%;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
  }

  .login-form-button:hover {
    background-color: #005f8d; /* A darker shade of blue for hover effect */
    transform: translateY(-2px);
  }
